.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    text-align: center;
}

@media only screen and (max-device-width: 425px) {
    .title_container {
        flex-direction: column;
    }
}