.home_container {
  width: 100%; /*Para trabalhar com 100% da section*/
  display: flex;
  flex-direction: column; /*Sistema de colunas, para poder colocar um item abaixo do outro  */
  align-items: center; /*Alinhamento vertical*/
  justify-content: center; /*Alinhamento horizontal*/
  padding: 4em;
}

.linha{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
/*configuração da imagem e do texto*/
.grid{
  display: flex;
  flex-wrap:wrap;
  width: auto;
  height: 100%;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 100px;
  padding: 200px;
}

.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-align: start;
}

.texto{
  background-color: #8c6d46;
  font-family: sans-serif ;
  font-size: 25px;
}

.home_container h1 {
  /* estilo do h1 dentro da classe home_container */
  font-size: 2.5em;
  margin-bottom: 0.5em;
  height: 100%;
  width: 100%;
  text-align: center;
}

.home_container h1 span {
    /* animação do span */
    font-size: 6.25rem;
    background: linear-gradient(-45deg, #3c3c3c ,#8c6d46,#a68953);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
  }


.home_container p {
  /* estilo do p dentro da classe home_container */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #7b7b7b;
}

.home_container img {
  /* estilo da img dentro da classe home_container */
  width: 350px;
  margin: 2em 0;
}
