.min-height {
  min-height: 75%;
}

.start {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}

.column {
  /* Vai trazer colunas para a nossa pagina(como se fosse FlexBox */
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-device-width: 1130px) {
  .start {
    grid-template-columns: 1fr;
  }
}
