.min-height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
}

.column {
  /* Vai trazer colunas para a nossa pagina(como se fosse FlexBox */
  flex-direction: column;
  justify-content: flex-start;
}
